@charset "UTF-8";
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes menu-bar02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-bar02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes menu-bar03 {
  0% {
    -webkit-transform: translateY(-20px) rotate(45deg);
            transform: translateY(-20px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar03 {
  0% {
    -webkit-transform: translateY(-20px) rotate(45deg);
            transform: translateY(-20px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(.1);
            transform: scale(.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    -webkit-transform: scale(.1);
            transform: scale(.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(19px) rotate(-45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(19px) rotate(-45deg);
            transform: translateY(19px) rotate(-45deg);
  }
}
@-webkit-keyframes active-menu-bar02 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes active-menu-bar02 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-19px) rotate(45deg);
            transform: translateY(-19px) rotate(45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-19px) rotate(45deg);
            transform: translateY(-19px) rotate(45deg);
  }
}
@-webkit-keyframes square-spin {
  25% {
    background-position: 0 50%;
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    background-position: 100% 50%;
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    background-position: 0 50%;
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes square-spin {
  25% {
    background-position: 0 50%;
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    background-position: 100% 50%;
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    background-position: 100% 50%;
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    background-position: 0 50%;
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@-webkit-keyframes scroll-arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes scroll-arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(.8);
            transform: scale(.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes imagelightbox-loading {
  from {
    -webkit-transform: scale(.75);
            transform: scale(.75);
    opacity: .5;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.75);
            transform: scale(.75);
    opacity: .5;
  }
}
@keyframes imagelightbox-loading {
  from {
    -webkit-transform: scale(.75);
            transform: scale(.75);
    opacity: .5;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.75);
            transform: scale(.75);
    opacity: .5;
  }
}
@-webkit-keyframes logo-action {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  4% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  8% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes logo-action {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  4% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  8% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/* Sass Document */
* {
      box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  vertical-align: baseline;
  list-style: none;
  border: 0;

  -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-size: 1.0rem;
  line-height: 1;
  text-align: center;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  word-wrap: break-word;

       -o-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-kerning: normal;
}

article,
aside,
dialog,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
}

canvas {
  vertical-align: bottom;
}

br,
hr {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
select {
  vertical-align: middle;
}

body {
  background-color: white;
}

html {
  font-size: 14px;
}

body {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: #595959;
}

a {
  color: #539ccb/*#148574*/;
  text-decoration: none;
  transition: .4s;
}
a:visited {
  color: 0;
}
a:focus {
  color: #539ccb/*#1cbaa3*/;
}
a:hover {
  color: #539ccb/*#1cbaa3*/;
}
a:active {
  color: #539ccb/*#1cbaa3*/;
}
a:hover, a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0);
}

button,
textarea,
select {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

     -moz-appearance: none;
          appearance: none;
}

.loader_wrap {
  position: fixed;
  margin-top: calc(50vh - 25px);
  margin-left: calc(50vw - 25px);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border: 3px solid #539ccb/*#148574*/;
  border-top-color: #3784b5/*rgba(20, 133, 116, .65)*/;
  border-radius: 50px;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}

.wrap {
  position: relative;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
}
img{
  margin-bottom: -2.5px;
}
.footer {
  width: 100%;
  background-color: #539ece/*#027e6b*/;
}

.footer_bar {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
}
@media (min-width: 980px) {
  .footer_bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
   /* padding: 45px 40px;*/
  }
}

.footer_logo {
  width: 170px;
}
@media (min-width: 980px) {
  .footer_logo {
    margin-right: 120px;
  }
}

.footer_nav-list {
  display: none;
}
@media (min-width: 980px) {
  .footer_nav-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    width: 500px;
  }
}

.footer_nav-item {
  position: relative;
}
.footer_nav-item a {
  font-weight: bold;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer_nav-item > ul {
  position: absolute;
  top: 145%;
  left: 5px;
  font-size: 10px;
  font-size: .71429rem;
}
.footer_nav-item > ul > li {
  margin-bottom: 4px;
}

.footer_scroll-up {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  display: table;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #539ece  /*#027e6b*/;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 980px) {
  .footer_scroll-up {
    left: calc(100% - 25px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.footer_scroll-up > .fa {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transition: .25s;
}
.footer_scroll-up:hover {
  top: -15px;
  color: white;
  text-decoration: none;
}

.footer_copy-wrap {
  padding: 6px;
  background-color: #f4f4f4;
}
@media (min-width: 980px) {
  .footer_copy-wrap {
    padding: 15px;
  }
}

.footer_copy {
  font-size: 9px;
  font-size: .64286rem;
}
@media (min-width: 980px) {
  .footer_copy {
    font-size: 12px;
    font-size: .85714rem;
    letter-spacing: .3em;
  }
}

.header {
  width: 100%;
}

.sp-menu_wrap {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.sp-menu_bar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px 10px;
  background-color: rgba(2, 126, 107, 0);
  transition: .4s .2s;
}
.fixed .sp-menu_bar {
  background-color: #539ccb/*rgba(2, 126, 107, .95)*/;
}
.subpage .sp-menu_bar {
  background-color: #539ccb/*rgba(2, 126, 107, .95)*/;
}

.sp-menu_logo {
  width: 150px;
}

.sp-menu {
  position: absolute;
  top: 100%;
  width: 100%;
}

.sp-menu_list {
  padding: 0 15px 4px;
  background-color: #539ccb/*#148574*/;
}

.sp-menu_item {
  width: 100%;
}
.sp-menu_item:not(:last-child) {
  border-bottom: 1px solid white;
}
.sp-menu_item > a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 12px 2px 10px;
  color: white;
}
.sp-menu_item > a > span {
  font-size: 16px;
  font-size: 1.14286rem;
  letter-spacing: 2px;
}
.sp-menu_item > a > i {
  font-family: 'Roboto';
  font-size: 11px;
  font-size: .78571rem;
  letter-spacing: 1px;
}
.sp-menu_item > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  font-size: 16px;
  font-size: 1.14286rem;
  letter-spacing: 2px;
  border-top: 1px dashed white;
}
.sp-menu_item > ul a {
  display: block;
  padding: 12px 0 10px;
  color: white;
}

.menu_trigger {
  position: relative;
  z-index: 9999;
  width: 40px;
  height: 36px;
  margin-right: 10px;
}
.menu_trigger > .menu_trigger-text {
  position: absolute;
  top: calc(-1em + 1px);
  left: -4em;
  z-index: 9999;
  display: inline-block;
  width: 4em;
  height: 1em;
  line-height: 1;
  color: white;
}

.menu_trigger,
.menu_trigger span {
  display: inline-block;
  transition: .4s;
}

.menu_trigger span:nth-of-type(1) {
  top: 0;
}

.menu_trigger span:nth-of-type(2) {
  top: 16px;
}

.menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.menu_trigger:not(.active):hover span:nth-of-type(2) {
  width: 70%;
}

.menu_trigger:not(.active):hover span:nth-of-type(3) {
  width: 35%;
}

.menu_trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(16px) rotate(-45deg);
      -ms-transform: translateY(16px) rotate(-45deg);
          transform: translateY(16px) rotate(-45deg);
}

.menu_trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu_trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-16px) rotate(45deg);
      -ms-transform: translateY(-16px) rotate(45deg);
          transform: translateY(-16px) rotate(45deg);
}

.pc-menu_wrap {
  width: 100%;
  background: linear-gradient(0deg, rgba(7, 0, 2, .17) 0%, rgba(255, 255, 255, .17) 54%);
  border-bottom: 6px solid #539ece/*#148574;*/
}

.pc-menu_bar {
  width: 100%;
  text-align: left;
  background-color: #539ccb/*#027e6b*/;
}

.pc-menu_bar-inner {
  width: 790px;
  margin: auto;
}

.pc-menu_logo {
  width: 185px;
  padding: 8px 8px 6px;
}

.pc-menu_list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  width: 790px;
  margin: auto;
}

.pc-menu_item {
  position: relative;
  width: 16.6666%;
  border-left: 1px solid #539ece;/*2px solid rgba(152, 150, 164, .21);*/
}
.pc-menu_item:last-child {
  border-right: 2px solid rgba(152, 150, 164, .21);
}
.pc-menu_item i{
  color: #539ece;
}
#pc-menu-right{
  border-right: 1px solid #539ece;
}
.pc-menu_item > ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 0;
  transition: .35s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.pc-menu_item > ul > li > a {
  position: relative;
  display: block;
  padding: 12px 10px 10px;
  font-size: 15px;
  font-size: 1.07143rem;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  background-color: #539ece/*#148574*/;
  transition: .35s;
}
.pc-menu_item > ul > li > a > .fa {
  position: absolute;
  top: 50%;
  left: calc(50% - 2.8em);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.pc-menu_item > ul > li > a:hover {
  background-color: #539ece/* #027e6b*/;
}
.pc-menu_item > a {
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 38px;
  padding-bottom: 26px;
}
.subpage .pc-menu_item > a {
  padding-top: 25px;
  padding-bottom: 12px;
}
.pc-menu_item > a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #539ece/*#148574*/;
  -webkit-transform: scale(.1) translateZ(0);
          transform: scale(.1) translateZ(0);
  opacity: 0;
  transition: .35s;
}
.pc-menu_item > a > span {
  position: relative;
  z-index: 3;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}
.pc-menu_item > a > i {
  position: relative;
  z-index: 3;
  display: inline-block;
  font-family: 'Roboto';
  font-size: 11px;
  font-size: .78571rem;
  font-weight: 400;
  letter-spacing: 1px;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.pc-menu_item > a > i > span {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity .2s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.pc-menu_item:hover > ul {
  opacity: 1;
}
.pc-menu_item:hover > ul a {
  text-decoration: none;
}
.pc-menu_item:hover > a {
  text-decoration: none;
}
.pc-menu_item:hover > a::after {
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}
.pc-menu_item:hover > a > span {
  color: white;
}
.pc-menu_item:hover > a > i {
  color: white;
}

.breadcrumb {
  width: 100%;
  padding-top: 52px;
  background: linear-gradient(0deg, #fff 0%, #f2f2f2 40%, #e9e9e9 80%);
}
@media (min-width: 980px) {
  .breadcrumb {
    padding-top: 0;
  }
}

.breadcrumb_list {
  max-width: 790px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin: auto;
}
@media (min-width: 980px) {
  .breadcrumb_list {
    padding-left: 0;
  }
}

.breadcrumb_item {
  position: relative;
  display: inline-block;
}
.breadcrumb_item:not(:last-child) {
  margin-right: 3em;
}
.breadcrumb_item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -1.8em;
  line-height: 1;
  color: #9896a4;
  content: '\003e';
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
}
.breadcrumb_item a {
  font-size: 12px;
  font-size: .85714rem;
  color: #9896a4;
}

.main {
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  background-color: #fff;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: .25s;
}
.btn.btn--input {
  width: 280px;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 18px;
  font-size: 1.28571rem;
  color: white;
  letter-spacing: 1px;
  background-color: #9896a4;
  border: 1px solid rgba(152, 150, 164, 0);
  transition: .35s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn.btn--input[disabled] {
  color: #9896a4;
  cursor: not-allowed;
  background-color: white;
  border-color: #9896a4;
}
.btn.btn--input > .fa {
  position: absolute;
  top: calc(50% + 2px);
  right: 1.2em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: .45s cubic-bezier(.4, -.18, .47, 2.5);
}
.btn.btn--input:not([disabled]):hover {
  opacity: .75;
}
.btn.btn--input:not([disabled]):hover > .fa {
  -webkit-transform: translateY(-50%) translateX(5px);
      -ms-transform: translateY(-50%) translateX(5px);
          transform: translateY(-50%) translateX(5px);
}
.btn.btn--back {
  width: 280px;
  padding-top: 16px;
  padding-bottom: 14px;
  font-size: 18px;
  font-size: 1.28571rem;
  color: white;
  letter-spacing: 1px;
  background-color: #9896a4;
  border: 1px solid rgba(152, 150, 164, 0);
  transition: .35s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn.btn--back > .fa {
  position: absolute;
  top: calc(50% + 2px);
  left: 1.2em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: .45s cubic-bezier(.4, -.18, .47, 2.5);
}
.btn.btn--back:hover {
  text-decoration: none;
  opacity: .75;
}
.btn.btn--back:hover > .fa {
  -webkit-transform: translateY(-50%) translateX(5px);
      -ms-transform: translateY(-50%) translateX(5px);
          transform: translateY(-50%) translateX(5px);
}

.btn_wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 980px) {
  .btn_wrap {
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}
.btn_wrap.btn_wrap--form {
  margin-top: 20px;
}
@media (min-width: 980px) {
  .btn_wrap.btn_wrap--form {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 40px;
  }
}
.btn_wrap.btn_wrap--form > .btn:first-child {
  margin-bottom: 15px;
}
@media (min-width: 980px) {
  .btn_wrap.btn_wrap--form > .btn:first-child {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.pagination_list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 980px) {
  .pagination_list {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.pagination_item {
  padding-right: 1em;
}
.pagination_item:last-child {
  padding-right: 0;
}
.pagination_item:first-child > a, .pagination_item:last-child > a {
  padding: 4px 6px 3px;
  color: white;
  background-color: #148574;
  border: 1px solid rgba(20, 133, 116, 0);
}
.pagination_item:first-child > a:hover, .pagination_item:last-child > a:hover {
  color: #148574;
  background-color: rgba(20, 133, 116, 0);
  border: 1px solid #148574;
}
.pagination_item > a {
  display: inline-block;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination_item > a:hover, .pagination_item > a.active {
  color: #148574;
  text-decoration: underline;
}
.pagination_item > a.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.h1 {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: #f4f4f4;
}
@media (min-width: 980px) {
  .h1 {
    height: 200px;
  }
}
.h1::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .35);
}

.h1_inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  padding-right: 8px;
  padding-left: 20px;
  margin: auto;
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}
.h1_inner > img {
  height: 70px;
}
@media (min-width: 980px) {
  .h1_inner {
    max-width: 790px;
    padding-right: 8;
    padding-left: 0;
    font-size: 30px;
    font-size: 2.14286rem;
    letter-spacing: 4px;
  }
  .h1_inner > img {
    height: 200px;
  }
}
.h2 span{
  margin-left: 120px;
  font-weight: bold; /*add 220617*/
}
.h2 {
  position: relative;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-bottom: 15px;
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: bold;
  color: #539ccb/*#148574*/;
  text-align: left;
  letter-spacing: 1px;
  border-bottom: 3px solid #539ccb/*#148574*/;
}
.h2::after {
  position: absolute;
  top: 0;
  left: 14px;
  width: 15px;
  height: 15px;
  content: '';
  border: 3px solid #539ccb/*#148574*/;
  border-radius: 50%;
}
@media (min-width: 980px) {
  .h2 {
    padding-bottom: 16px;
    padding-left: 50px;
    font-size: 24px;
    font-size: 1.71429rem;
    letter-spacing: 2px;
  }
  .h2::after {
    left: 20px;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
  }
}

.input {
  display: inline-block;
  padding: 5px 10px 2px 10px;
  background-color: #fafafa;
  border: 2px solid #ddd;
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
  transition: .35s;
}
.input.input--textarea {
  width: 100%;
  height: 150px;
  resize: none;
}
.input.input--check {
  position: relative;
  top: -1px;
  border: 0;
}
.input.input--sm {
  width: 60px;
}
.input.input--md {
  width: 300px;
}
.input.input_alert {
  background-color: #ffefef;
  border-color: #f00;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .25), 0 0 6px rgba(255, 0, 0, .45);
}
.input:focus {
  background-color: #fcfcfc;
  border: 2px solid #539ccb/*#148574*/;
  box-shadow: 0 0 8px rgba(20, 133, 116, .25);
}

.input_label {
  display: inline-block;
  margin-right: 14px;
}

.thanks_title {
  font-size: 18px;
  font-size: 1.28571rem;
  color: #9896a4;
}
@media (min-width: 980px) {
  .thanks_title {
    font-size: 25px;
    font-size: 1.78571rem;
  }
}

.thanks_text {
  line-height: 1.75;
  color: #9896a4;
}

.alert {
  position: relative;
  top: 2px;
  font-size: 12px;
  font-size: .85714rem;
  color: #f00;
}
@media (min-width: 980px) {
  .alert {
    font-size: 14px;
    font-size: 1rem;
  }
}
.alert.alert--main-text {
  line-height: 1.65;
}

#imagelightbox {
  position: fixed;
  z-index: 10000;
  padding: 1em;
  -ms-touch-action: none;
      touch-action: none;
  cursor: pointer;
  box-shadow: 0 0 3.125em rgba(0, 0, 0, .4);
}

#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%;
}

#imagelightbox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10003;
  width: 2.5em;
  height: 2.5em;
  padding: .625em;
  margin: -1.25em 0 0 -1.25em;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 2.5em rgba(0, 0, 0, .55);
}

#imagelightbox-loading div {
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  -webkit-animation: imagelightbox-loading .5s ease infinite;
          animation: imagelightbox-loading .5s ease infinite;
}

#imagelightbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background: rgba(255, 255, 255, .8);
}

#imagelightbox-close {
  position: fixed;
  top: 2.5em;
  right: 2.5em;
  z-index: 10002;
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  cursor: pointer;
  background-color: rgba(152, 150, 164, .9);
  border-radius: 50%;
  transition: .4s;
}

#imagelightbox-close:hover,
#imagelightbox-close:focus {
  background-color: rgba(152, 150, 164, .7);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#imagelightbox-close:before,
#imagelightbox-close:after {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  width: 4px;
  margin-left: -1px;
  content: '';
  background-color: white;
}

#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#imagelightbox-caption {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  padding: .625em;
  font-size: 16px;
  font-size: 1.14286rem;
  color: white;
  text-align: center;
  background-color: rgba(126, 209, 245, .9);
}

#imagelightbox-nav {
  position: fixed;
  bottom: 3.75em;
  left: 50%;
  z-index: 10001;
  padding: .313em;
  background-color: rgba(20, 133, 116, .9);
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#imagelightbox-nav button {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .313em;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

#imagelightbox-nav button.active {
  background-color: #fff;
}

.imagelightbox-arrow {
  position: fixed;
  top: 50%;
  z-index: 10001;
  display: none;
  width: 3.75em;
  height: 7.5em;
  margin-top: -3.75em;
  vertical-align: middle;
  cursor: pointer;
  transition: .4s;
}
.imagelightbox-arrow:hover, .imagelightbox-arrow:focus {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.imagelightbox-arrow:active {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.imagelightbox-arrow::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: -.125em;
  content: '';
  border: 1em solid transparent;
}
.imagelightbox-arrow::after {
  position: absolute;
  top: calc(50% - .125em);
  display: inline-block;
  width: 40px;
  height: 1px;
  content: '';
  background-color: #148574;
}

.imagelightbox-arrow-left {
  left: 2.5em;
}
.imagelightbox-arrow-left:before {
  margin-left: -.313em;
  border-right-color: #148574;
  border-left: none;
}
.imagelightbox-arrow-left:after {
  left: 50%;
}

.imagelightbox-arrow-right {
  right: 2.5em;
}
.imagelightbox-arrow-right:before {
  margin-right: -.313em;
  border-right: none;
  border-left-color: #148574;
}
.imagelightbox-arrow-right:after {
  right: 50%;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
  -webkit-animation: fade-in .4s linear;
          animation: fade-in .4s linear;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 41.25em) {
  #container {
    width: 100%;
  }

  #imagelightbox-close {
    top: 1.25em;
    right: 1.25em;
  }

  #imagelightbox-nav {
    bottom: 1.25em;
  }

  .imagelightbox-arrow {
    width: 2.5em;
    height: 3.75em;
    margin-top: -2.75em;
  }

  .imagelightbox-arrow-left {
    left: 1.25em;
  }

  .imagelightbox-arrow-right {
    right: 1.25em;
  }
}
@media only screen and (max-width: 20em) {
  .imagelightbox-arrow-left {
    left: 0;
  }

  .imagelightbox-arrow-right {
    right: 0;
  }
}
.article {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 0 10px;
  margin: 20px auto;
}
@media (min-width: 980px) {
  .article {
    margin: 35px auto 40px;
  }
}
.article.article--sub {
  max-width: 790px;
}
@media (min-width: 980px) {
  .article.article--sub {
    margin: 35px auto 65px;
  }
}

.article_text {
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 10px;
  font-size: 13px;
  font-size: .92857rem;
  line-height: 1.6;
  text-align: left;
}
@media (min-width: 980px) {
  .article_text {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
}
.article_text > strong {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: bold;
}
@media (min-width: 980px) {
  .article_text > strong {
    font-size: 18px;
    font-size: 1.28571rem;
  }
}
@media (min-width: 980px) {
  .article_text.article_text--effort {
    font-size: 16px;
    font-size: 1.14286rem;
  }
}

@media (min-width: 980px) {
  .article_image-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
  }
}

.article_image-text.article_image-text--effort {
  width: 100%;
}
@media (min-width: 980px) {
  .article_image-text.article_image-text--effort {
    width: 480px;
  }
}
.article_image-text.article_image-text--idea {
  width: 100%;
}
@media (min-width: 980px) {
  .article_image-text.article_image-text--idea {
    width: 380px;
  }
}

.article_image.article_image--right {
  display: block;
  max-width: 100%;
  margin: auto;
}
@media (min-width: 980px) {
  .article_image.article_image--right {
    max-width: none;
  }
}
@media (min-width: 980px) {
  .article_image.article_image--right--idea {
    height: 200px;
  }
}
.article_image.article_image-right-effort {
  max-width: 360px;
  margin: auto;
}
@media (min-width: 980px) {
  .article_image.article_image-right-effort {
    width: 300px;
  }
}

.article_box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
@media (min-width: 980px) {
  .article_box {
    margin-bottom: 10px;
  }
}

.article_box-name {
  position: relative;
  width: 30%;
  background-color: #f3f3f3;
  border-right: 1px solid #ddd;
}
.article_box-name > span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #767676;
  letter-spacing: 1px;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -46%);
      -ms-transform: translate(-50%, -46%);
          transform: translate(-50%, -46%);
}
@media (min-width: 980px) {
  .article_box-name {
    width: 20%;
    font-size: 20px;
    font-size: 1.42857rem;
  }
}

.article_box-value {
  width: 70%;
  padding: 8px 12px;
  font-size: 13px;
  font-size: .92857rem;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 980px) {
  .article_box-value {
    width: 80%;
    padding: 12px 20px 10px;
    font-size: 14px;
    font-size: 1rem;
  }
}

@media (min-width: 980px) {
  .article_list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.article_list-name {
  position: relative;
  padding: 8px 9px 5px;
  line-height: 1.5;
  color: #6f6f6f;
  text-align: left;
  letter-spacing: 2px;
  background-color: #f3f3f3;
  border-bottom: 2px solid #ddd;
}
@media (min-width: 980px) {
  .article_list-name {
    width: 130px;
    padding: 1em 1.2em .8em;
  }
}
@media (min-width: 980px) {
  .article_list-name.article_list-name--lg {
    width: 180px;
  }
}

.article_list-value {
  position: relative;
  padding: 8px 9px 5px;
  font-size: 13px;
  font-size: .92857rem;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 980px) {
  .article_list-value {
    width: calc(100% - 130px);
    padding: 1em 1.6em .8em;
    font-size: 14px;
    font-size: 1rem;
    border-bottom: 2px solid #ddd;
  }
}

.article_inner-list {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display:         inline-flex;
  width: 100%;
}
@media (min-width: 980px) {
  .article_inner-list {
    width: 45%;
  }
}
.article_inner-list > dt {
  width: 5.5em;
}

@media (min-width: 980px) {
  .article_input-name {
    position: absolute;
    top: 50%;
    left: 16px;
    font-size: 13px;
    font-size: .92857rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.article_input-badge {
  display: inline-block;
  padding: 3px 3px 1px 5px;
  margin-left: 16px;
  font-size: 9px;
  font-size: .64286rem;
  color: white;
  background-color: #ed3c06;
  border-radius: 5px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media (min-width: 980px) {
  .article_input-badge {
    position: absolute;
    top: calc(50% - 1px);
    right: 16px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.article_table {
  width: 100%;
  max-width: 750px;
  margin: auto;
}
@media (max-width: 979px) {
  .article_table {
    margin-top: -30px;
  }
}

.article_table-caption {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
@media (min-width: 980px) {
  .article_table-caption {
    margin-bottom: 10px;
    font-size: 18px;
    color: #539ccb /*#148574*/;
  }
}

.article_table-name {
  padding-top: 8px;
  padding-bottom: 5px;
  font-size: 12px;
  font-size: .85714rem;
  color: #959796;
  letter-spacing: 2px;
  vertical-align: middle;
  background-color: #f3f3f3;
  border: 2px solid #ddd;
}
@media (min-width: 980px) {
  .article_table-name {
    width: 130px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 14px;
    font-size: 1rem;
  }
}
.article_table-name:first-child {
  width: 80px;
}
@media (min-width: 980px) {
  .article_table-name:first-child {
    width: 100px;
  }
}
.article_table-name:nth-child(2) {
  width: 200px;
}
@media (min-width: 980px) {
  .article_table-name:nth-child(2) {
    width: 450px;
  }
}
.article_table-name:nth-child(3) {
  width: 140px;
}
@media (min-width: 980px) {
  .article_table-name:nth-child(3) {
    width: 200px;
  }
}

.article_table-value {
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 6px;
  font-size: 10px;
  font-size: .71429rem;
  line-height: 1.35;
  text-align: left;
  vertical-align: middle;
  border: 2px solid #ddd;
}
.article_table-value:first-child {
  padding-left: 0;
  text-align: center;
}
@media (min-width: 980px) {
  .article_table-value {
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 14px;
    font-size: 1rem;
  }
}

.article_table-btn-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
}
@media (max-width: 979px) {
  .article_table-btn-wrap {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 979px) {
  .article_table-btn {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (min-width: 980px) {
  .article_table-btn + .article_table-btn {
    margin-left: 16px;
  }
}
.article_table-btn > a {
  position: relative;
  padding: 8px 8px 6px;
  font-size: 12px;
  font-size: .85714rem;
  color: #539ccb/*#148574*/;
  border: 1px solid #539ccb/*#148574*/;
}
@media (min-width: 980px) {
  .article_table-btn > a {
    font-size: 16px;
    font-size: 1.14286rem;
  }
}
.article_table-btn > a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  content: '';
  background-color: #539ccb/*#148574*/;
  transition: .45s;
}
.article_table-btn > a:hover {
  color: white;
  text-decoration: none;
}
.article_table-btn > a:hover::after {
  width: 100%;
}

.article_order-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  padding: .8em 1em .7em 0;
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 1.35;
  border-bottom: 2px dashed #ddd;
}
.article_order-item > i {
  display: inline-block;
  padding-right: 1.2em;
  padding-left: 1.2em;
  color: #539ccb/*#148574*/;
}
@media (min-width: 980px) {
  .article_order-item > i {
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media (min-width: 980px) {
  .article_order-item {
    font-size: 18px;
    font-size: 1.28571rem;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 980px) {
  .hero {
    height: 800px;
  }
}

.hero_copy-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) scale(.1);
      -ms-transform: translate(-50%, -50%) scale(.1);
          transform: translate(-50%, -50%) scale(.1);
  opacity: 0;
  transition: opacity .6s .4s, -webkit-transform .6s .4s;
  transition: transform .6s .4s, opacity .6s .4s;
  transition: transform .6s .4s, opacity .6s .4s, -webkit-transform .6s .4s;
}
@media (min-width: 980px) {
  .hero_copy-wrap {
  width: 90%;
  height: 370px; 
  margin-top: 70px;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(255,255,255,0), 
    rgba(255,255,255,.9) 40%, 
    rgba(255,255,255,.9) 80%, 
    rgba(255,255,255,0));

    /*width: 360px;
    height: 370px;
    
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;*/
  }
}
.hero_copy-wrap.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.change{
  font-size: 36px;
}
.hero_copy {
  width: 100%;
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 1.5;
  color: white;
  margin-top: -35px;
}
@media (min-width: 980px) {
  .hero_copy {
    font-size: 28px;
    font-size: 2rem;
    color: black;
    -webkit-transform: translateY(65%);
        -ms-transform: translateY(65%);
            transform: translateY(65%);
  }
}

@media (min-width: 980px) {
  .hero_copy-logo {
    width: 210px;
    margin-top: 40px;
  }
}

.top_title {
  margin-bottom: 10px;
  font-size: 24px;
  font-size: 1.71429rem;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}
.top_title > i {
  display: block;
  margin-top: 2px;
  font-size: 14px;
  font-size: 1rem;
  color: #539ece/*#148574*/;
  letter-spacing: normal;
}
@media (min-width: 980px) {
  .top_title {
    margin-bottom: 15px;
    margin-left: 50px;
    text-align: left;
  }
  .top_title > i {
    display: inline-block;
    margin-left: 20px;
  }
}

.top_media-list {
  width: 100%;
}
@media (min-width: 980px) {
  .top_media-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
  }
}

.top_media-item {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.top_media-item > a {
  display: block;
  height: 200px;
  margin-bottom: 5px;
}
.top_media-item > a > figure {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.top_media-item > a > figure::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  content: '';
  background-color: #539ece/*#148574*/;
  box-shadow: 0 0 1px transparent;
  -webkit-transform: translateZ(0);
  -webkit-transform: scale(.1) translateZ(0);
          transform: translateZ(0);
          transform: scale(.1) translateZ(0);
  opacity: 0;
  transition: .45s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.top_media-item > a > figure > figcaption {
  position: absolute;
  top: 47%;
  left: 50%;
  z-index: 3;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .65);
  letter-spacing: 3px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.top_media-item > a:hover > figure::after {
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: .75;
}
@media (min-width: 980px) {
  .top_media-item {
    width: 33.3333%;
  }
  .top_media-item > a {
    margin-bottom: 0;
  }
}

.top_news-wrap {
  max-height: 380px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 980px) {
  .top_news-wrap {
    max-height: 220px;
  }
}

.top_news-list {
  width: 100%;
  padding: 15px 15px 12px;
  border-bottom: 1px solid #ddd;
}
.top_news-list:last-child {
  border-bottom: 0;
}
@media (min-width: 980px) {
  .top_news-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px 25px 12px;
  }
}

.top_news-date {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-size: .85714rem;
  color: #539ece/*#148574*/;
}
@media (min-width: 980px) {
  .top_news-date {
    width: 100px;
    margin-right: 2em;
    margin-bottom: 0;
    line-height: 1.6;
  }
}

.top_news-text {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.6;
}
.top_news-text span{
  color: #000;
}
.top_news-text > a {
  color: #539ccb/*#148574*/;
  text-decoration: underline;
}
.top_news-text > a:hover {
  text-decoration: none;
}
@media (min-width: 980px) {
  .top_news-text {
    width: 750px;
    color:#539ccb;
  }
}

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
@media (min-width: 980px) {
  .gallery {
    margin-top: 30px;
  }
}

.gallery_item-wrap {
  width: 48%;
}
@media (min-width: 980px) {
  .gallery_item-wrap {
    width: 240px;
  }
  .gallery_item-wrap.gallery_item-wrap--home {
    width: 200px;
  }
}

.gallery_item {
  margin-bottom: 20px;
}
@media (min-width: 980px) {
  .gallery_item {
    margin-bottom: 25px;
  }
}
.gallery_item > a:hover {
  text-decoration: none;
}

.gallery_figure {
  position: relative;
}

.gallery_image {
  position: relative;
  width: 100%;
  line-height: 0;
  vertical-align: bottom;
}

@media (min-width: 980px) {
  .gallery_caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .gallery_caption::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(255, 255, 255, .65);
    -webkit-transform: scale(.2);
        -ms-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
    transition: .45s;
  }
}

.gallery_date {
  display: block;
  padding: 6px 5px 4px;
  font-size: 9px;
  font-size: .64286rem;
  color: white;
  background-color: #148574;
}
@media (min-width: 980px) {
  .gallery_date {
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    font-size: 12px;
    font-size: .85714rem;
    text-align: left;
  }
}

.gallery-title {
  padding: 5px 4px;
  font-size: 12px;
  font-size: .85714rem;
  line-height: 1.55;
  color: #595959;
  text-align: left;
}
@media (min-width: 980px) {
  .gallery-title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
    font-size: .85714rem;
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%) scale(.2);
        -ms-transform: translate(-50%, -50%) scale(.2);
            transform: translate(-50%, -50%) scale(.2);
    opacity: 0;
    transition: .35s .3s;
  }
}

.gallery_target {
  display: block;
}
@media (min-width: 980px) {
  .gallery_target:hover .gallery_caption::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .gallery_target:hover .gallery-title {
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.detail {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}

.detail_name {
  width: 30%;
  vertical-align: middle;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}
@media (min-width: 980px) {
  .detail_name {
    width: 150px;
    font-size: 20px;
    font-size: 1.42857rem;
  }
}

.detail_value {
  width: 70%;
  padding: 10px 9px;
  font-size: 13px;
  font-size: .92857rem;
  line-height: 1.5;
  text-align: left;
  vertical-align: midddle;
  border: 1px solid #ddd;
}
@media (min-width: 980px) {
  .detail_value {
    width: 600px;
    padding: 12px 10px;
    font-size: 14px;
    font-size: 1rem;
  }
}

.slide_photo-box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 980px) {
  .slide_photo-box {
    margin-bottom: 20px;
  }
}

.slide_photo-list {
  position: relative;
  margin-bottom: 10px;
}

.slide_photo-list > li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.slide_thumb-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.slide_thumb-list > li {
  width: 19%;
  background-color: white;
}
.slide_thumb-list > li > a > img {
  vertical-align: bottom;
  cursor: -webkit-zoom-in;
  cursor:         zoom-in;
  opacity: 1;
  transition: .8s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slide_thumb-list > li > a > img.active {
  opacity: .4;
}
.slide_thumb-list > li > a > img:hover {
  opacity: .75;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-clearfix:after,
.u-clearfix:before {
  display: table;
  content: "";
}

.u-clearfix:after {
  clear: both;
}

.u-mb--0 {
  margin-bottom: 0;
}

.u-mb--xs {
  margin-bottom: 5px;
}

.u-mb--sm {
  margin-bottom: 10px;
}

.u-mb--md {
  margin-bottom: 15px;
}

.u-mb--lg {
  margin-bottom: 20px;
}

.u-mb--ex {
  margin-bottom: 30px;
}

.u-ml--0 {
  margin-left: 0;
}

.u-ml--xs {
  margin-left: 5px;
}

.u-ml--sm {
  margin-left: 10px;
}

.u-ml--md {
  margin-left: 15px;
}

.u-ml--lg {
  margin-left: 20px;
}

.u-ml--ex {
  margin-left: 30px;
}

.u-mr--0 {
  margin-right: 0;
}

.u-mr--xs {
  margin-right: 5px;
}

.u-mr--sm {
  margin-right: 10px;
}

.u-mr--md {
  margin-right: 15px;
}

.u-mr--lg {
  margin-right: 20px;
}

.u-mr--ex {
  margin-right: 30px;
}

.u-mt--xs {
  margin-top: 5px;
}

.u-mt--sm {
  margin-top: 10px;
}

.u-mt--md {
  margin-top: 15px;
}

.u-mt--lg {
  margin-top: 20px;
}

.u-mt--ex {
  margin-top: 30px;
}

.u-mt--n-xs {
  margin-top: -5px;
}

.u-mt--n-sm {
  margin-top: -10px;
}

.u-mt--n-md {
  margin-top: -15px;
}

.u-mt--n-lg {
  margin-top: -20px;
}

.u-mt--n-ex {
  margin-top: -30px;
}

.u-hidden {
  display: none;
}

.u-inline-block {
  display: inline-blocK;
}

@media (max-width: 979px) {
  .u-visible-pc--block {
    display: none;
  }
}
@media (min-width: 980px) {
  .u-visible-pc--block {
    display: block;
  }
}

@media (max-width: 979px) {
  .u-hidden-pc--block {
    display: block;
  }
}
@media (min-width: 980px) {
  .u-hidden-pc--block {
    display: none;
  }
}

@media (max-width: 979px) {
  .u-visible-pc--inline {
    display: none;
  }
}
@media (min-width: 980px) {
  .u-visible-pc--inline {
    display: inline-block;
  }
}

@media (max-width: 979px) {
  .u-hidden-pc--inline {
    display: inline-block;
  }
}
@media (min-width: 980px) {
  .u-hidden-pc--inline {
    display: none;
  }
}

.u-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
  white-space: nowrap;
}

.u-replace-text {
  overflow: hidden;
  text-align: left;
  text-indent: -119988px;
  text-transform: capitalize;
  background-image: url('../images/?1461312987');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.u-font--Roboto {
  font-family: 'Roboto', sans-serif;
}
